name: Solar System workflow

on:
  workflow_dispatch: 
  push:
    branches: 
        - main
        - 'feature/*'
 
env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superdata'
    MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
    MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
jobs:
    unit-testing:
        strategy:
            matrix:
              os: [ubuntu-latest]
        name: Unit esting
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup NodeJS Version -18
              uses: actions/setup-node@v3
              with:
                node-version: 18

            - name: Install Dependencies
              run: npm install

            - name: Unit Testing
              run: npm run test

            - name: Archive Test Result
            uses: actions/upload-artifact@v3
            with:
              name: Mocha-Test_result
              path: test-results.xml
              

